.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.menu_title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.menu_content {
    display: flex;
    flex-direction: column;
}