.basic_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
}

.s {
    min-width: 24px;
    height: 24px;
    padding: 2px;
}

.m {
    min-width: 28px;
    height: 28px;
    padding: 4px;
}

.l {
    min-width: 32px;
    height: 32px;
    padding: 6px;
}

.primary {
    background-color: rgb(255, 94, 0);
    color: white;
    border: none;
}

.primary:hover {
    background-color: rgb(236, 87, 0);
}

.primary:active {
    background-color: rgb(212, 80, 3);
}

.secondary {
    background-color: rgb(253, 151, 62);
    border: none;
}

.secondary:hover {
    background-color: rgb(224, 132, 57);
}

.secondary:active {
    background-color: rgb(180, 102, 38);
}

.primary.disabled {
    opacity: 0.8;
}
.secondary.disabled {
    background-color: rgb(92, 92, 92);
    opacity: 0.8;
}